
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" fxLayout="row wrap" fxLayoutAlign="space-between start" class="cet">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="20" fxFlex.xl="20" fxFlex="20">
            <div>
                <img src="../../../assets/footerlogo.svg" height="100px" width="100px" style="margin-left:30px;">
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="20" fxFlex.xl="20" fxFlex="20">
            <div  fxLayout="column" >
                <ul>
                    <li>
                        <h3>BUYERS & SELLERS</h3>
                    </li>
                    <li>First time home buyers</li> 
                    <li> Luxury</li>
                    <li>Condos</li>
                    <li>Foreclosures</li>
                    <li>Relocation</li>
                </ul>
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="20" fxFlex.xl="20" fxFlex="20">
            <div  fxLayout="column" >
                <ul>
                    <li>
                        <h3>Mobile App</h3>
                    </li>
                    <li>Blog</li>
                    <li>Mortgage</li>
                    <li>Condos</li>
                    <li>United Corporation</li>
                    <li>Fair Housing</li>
                </ul>
               
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="20" fxFlex.xl="20" fxFlex="20">
            <div fxLayout="column" >

                <ul>
                    <li>
                        <h3>PARTNERS</h3>
                    </li>
                    <li>Resource Financial</li>
                    <li>Enhanced Marketing Solutions</li>
                    <li>Mr. Rekey</li>
                    <li>Credit Law Center</li>
                    <li>Strategic Client Services</li>
                </ul>
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="20" fxFlex.xl="20" fxFlex="20">
            <div  fxLayout="column" >

                <ul>
                    <li>
                        <h3>Contact us</h3>
                    </li>
                    <li><img src="../../../assets/call.svg" height="15px" width="15px">
                        <span>9844204286</span></li>
                    <li> <img src="../../../assets/email.svg" height="15px" width="15px">
                        <span>narendrareddy@gmail.com.</span></li>
                    <li  class="img"><img
                            src="../../../assets/facebook.svg"><img src="../../../assets/twitter.svg"><img
                            src="../../../assets/instagram.svg"><img src="../../../assets/youtube.svg"></li>
                </ul>
            </div>
        </div>
        <div fxLayoutAlign="center center"  fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <p >Privacy Policy    |   Terms Of Use<br>
            2019 all rights reserved - United Real Estate</p></div>
        
</div>
