.img img{
    height: 30px;
    width: 30px;
}
.img{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
ul{
    list-style-type: none;
}


.cet{
    height:auto ;
    width:100%;
    border: 3px  solid #cccccc;
    padding-top: 30px;
    border-radius: 40px;
   padding-left: 25px;
}
.cet p {
    margin-top: 9%;
    text-align:center; 
}