<div align="center" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">

    <div fxLayout="row" fxLayoutAlign="center center">
        <h1>What does a Referral Associate DO?</h1>

    </div>


    <div fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25" fxFlex="25">
            <div fxLayout="column" >
                <img src="../../../assets/hand.svg">
                <p>aintains a current real estate license.</p>
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25" fxFlex="25">
                <div fxLayout="column" >
                    <img src="../../../assets/library.svg">
                    <p>Completes all required Continuing Education requirements to keep license current.</p>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25" fxFlex="25">
                    <div fxLayout="column" >
                        <img src="../../../assets/test.svg">
                        <p>Renew license as scheduled according to local requirements.</p>
                    </div>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25" fxFlex="25">
                        <div fxLayout="column" >
                            <img src="../../../assets/hand.svg">
                            <p>Submits referral clients through the RRR portal.</p>
                        </div>
                    </div>
    </div>

</div>