
<div align="center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <h1>What does a Referral Associate DO?</h1>

    </div>


    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <ng-container *ngFor="let card of cards;">
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex="25" >  
            <div fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="center center" class="align">
                <img src="{{card.img}}">
                <p>{{ card.p }}</p>
            </div>
            
        </div>
    </ng-container>
           </div>

        </div>