<h1 style="text-align:center">Contact Us</h1>
<p style="text-align:center">Feel free to reach out to us, we are happy to talk to you today</p>
<div align="center">

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">

        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">

            <img src="../../../assets/call.svg" height="30px" width="30px">
            <span>9844204286</span>

        </div>
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">

            <img src="../../../assets/email.svg" height="30px" width="30px">
            <span>narendrareddy@gmail.com.</span>

        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <div class="align" fxLayoutAlign="center center">
                <hr style="width: 200px;">

                <p>or</p>

                <hr style="width: 200px;">
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <div fxLayout="column" fxLayoutAlign="start center">
                <p>First Name</p><input type="text">
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <div fxLayout="column" fxLayoutAlign="center center">
                <p>Last Name</p><input type="text">
            </div>
        </div>

        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <div fxLayout="column" fxLayoutAlign="start center">
                <p>Email</p><input type="text">
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <div fxLayout="column" fxLayoutAlign="start center">
                <p>Telephone Number
                </p><input type="text">
            </div>
        </div>
        <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
           <div fxFlex="13"></div>
            <div fxFlex="74" fxLayout="column">
                <p fxLayoutAlign="start center" style="padding-left: 10%">Drop your Message </p>
                <input type="text" class="put"></div>
                <div fxFlex="13"></div>
                </div>
                <div fxLayout="row"fxFlex="80" fxLayoutAlign="center center">
                    <input type="checkbox" style="margin:10px;">
                    <p style="font-size:12px;">Thought experiments (Gedankenexperimenten) are “facts” in the sense that they have a “real life”
                        correlate in the form of electrochemical activity in the brain.
                    </p></div>
                    <div fxFlex="100"><button>Submit</button></div>
                    
    </div>
</div>