<h1 style="text-align:center">What Our Agents Say</h1>

 
    
  

      <div fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100">
            <div class="carousel">
              <input type="radio" id="carousel-1" name="carousel" checked />
              <input type="radio" id="carousel-2" name="carousel" />
              <input type="radio" id="carousel-3" name="carousel" />
              <input type="radio" id="carousel-4" name="carousel" />
              <input type="radio" id="carousel-5" name="carousel" />
              <ul class="carousel__items">
                <li class="carousel__item">
                  <div class="align">
                    <img src="../../../assets/library.svg"  />
                  </div>
                  <div>
                    <h3>
                      Up to 1 kg $11 prasad srg Network Shopping Zara $670
                      hatchmarktest6 Parcel Osmosis
                    </h3>
                  </div>
                </li>
                <li class="carousel__item">
                  <div class="align">
                    <img src="../../../assets/test.svg" />
                    <h3>Up to 1 kg $11 prasad srg Network</h3>
                  </div>
                </li>
                <li class="carousel__item">
                  <div class="align">
                    <img src="../../../assets/library.svg"  />
                    <h3>Network Shopping Zara $670</h3>
                  </div>
                </li>
                <li class="carousel__item">
                  <div class="align">
                    <img src="../../../assets/hand.svg"  />
                    <h3>hatchmarktest6 Parcel Osmosis</h3>
                  </div>
                </li>
                <li class="carousel__item">
                  <div class="align">
                    <img src="../../../assets/logo.png" />
                    <h3>Zara $670 hatchmarktest6 Parcel Osmosis</h3>
                  </div>
                </li>
              </ul>
              <div class="carousel__prev">
                <label for="carousel-1"></label>
                <label for="carousel-2"></label>
                <label for="carousel-3"></label>
                <label for="carousel-4"></label>
                <label for="carousel-5"></label>
              </div>
              <div class="carousel__next">
                <label for="carousel-1"></label>
                <label for="carousel-2"></label>
                <label for="carousel-3"></label>
                <label for="carousel-4"></label>
                <label for="carousel-5"></label>
              </div>
              <div class="carousel__nav">
                <label for="carousel-1"></label>
                <label for="carousel-2"></label>
                <label for="carousel-3"></label>
                <label for="carousel-4"></label>
                <label for="carousel-5"></label>
              </div>
            </div>
          </div>
        </div>
  
  