<h1 style="text-align:center">What does a Referral Associate NOT DO?</h1>
<div>
   
        <div  fxFlex.md="15" fxFlex="30">
                <div  fxLayout="row" fxLayoutAlign="start start">

                    <img src="../../../assets/notleft.svg">
                </div>
            </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center"  fxFlex="70">
            <ng-container *ngFor="let card of cards;">
        <div fxFlex.xs="70" fxFlex.sm="70" fxFlex.md="35">  
            <div fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="start start" class="align" >
                 <h2>{{card.id}}</h2>
                <p>{{ card.p }}</p>
            </div>
            
        </div>
    </ng-container>
           </div>

       
</div>
<div>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxFlex="70">
                <ng-container *ngFor="let card of cards1;">
            <div fxFlex.xs="70" fxFlex.sm="70" fxFlex.md="35">  
                <div fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="start start" class="align">
                   <h2>{{card.id}}</h2>
                    <p>{{ card.p }}</p>
                </div>
                
            </div>
        </ng-container>
               </div>
            
           
            
            <div  fxFlex="30">
                <div  fxLayout="row" fxLayoutAlign="end end">

                    <img src="../../../assets/notright.svg">
                </div>
            </div>
        
</div>