<h1 style="text-align:center">Is Being a Referral Associate Right for YOU?</h1>
<p style="text-align:center; font-size: 25px;">Referral status is a good option if you can answer “Yes” to one or more of <br>the
    following:</p>

    <div>
   
        
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center"  fxFlex="80">
            <ng-container *ngFor="let card of cards;">
        <div fxFlex.xs="80" fxFlex.sm="80" fxFlex.md="40">  
            <div fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="start start" class="align" >
                 <h2>{{card.id}}</h2>
                <p>{{ card.p }}</p>
            </div>
            
        </div>
    </ng-container>
           </div>
           <div fxFlex="20">
               
        </div>
       
</div>
<div>
    <div  fxFlex="20">
                
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxFlex="80">
                <ng-container *ngFor="let card of cards1;">
            <div fxFlex.xs="80" fxFlex.sm="80" fxFlex.md="40">  
                <div fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="start start" class="align">
                   <h2>{{card.id}}</h2>
                    <p>{{ card.p }}</p>
                </div>
                
            </div>
        </ng-container>
               </div>
</div>